*{  
    box-sizing: border-box;  
    font-family: Cursive;
}
.home {
    background-size: 200% 200%;
    height: 100%;
    width: 100%;
    background: -webkit-linear-gradient(#f8f8f8, #e6e6e6, #f8f8f8);
    background: -o-linear-gradient(#f8f8f8, #e6e6e6, #f8f8f8);
    background: linear-gradient(#f8f8f8, #e6e6e6, #f8f8f8);
    -webkit-animation: background 15s ease 1;
    animation: background 15s ease 1;
    background-size: cover;  
}
.allvh {
  min-heigth: 100vh;
}
#svg {
    position: absolute;
}
#svg_txt1 {
    font-size: 10rem;
    font-weight: 900;
    stroke: #2f4d84;
    stroke-width: .3rem;
    animation: mymove 2s 1;
}
.svg_txt2 {
    font-size: 3.5rem;
    font-weight: 900;
    stroke: #2f4d84;
    stroke-width: .2rem;
}
.svg_txt3 {
    font-weight: 500;
    stroke: #cb7401;
    stroke-width: .1rem;
}